*{
padding: 0;
margin: 0;
}


/* стили для объемлющих блоков экранов страницы */
#screen-1, #screen-2, #screen-3, #screen-4, #screen-5,#screen-6, #screen-7, #screen-8{
	position: absolute;
	width:100%;
	height: 100%;
	display: flex;
}
#screen-1 {
	background: url(img/layer-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	top:0;
}
#screen-2 {
	top: 100%;
}
#screen-3 {
	top: 200%;
	background-color: #f3f3f3;
}
#screen-4{
	top: 300%;
	display: block;
}
#screen-5{
	top:400%;
	display: block;
}
#screen-6{
	top:500%;
	display: block;

}
#screen-7 {
	top: 600%;
	display: block;
}
#screen-8{
	top:700%;
	display: block;
}
section{
}
#ex2, #ex3{
	margin: auto;
}

.s1-content{
	display: flex;
	margin:auto;
}
.s1-content-inner{
	margin:auto;
}
/* end of стили для объемлющих блоков экранов страницы */



.vax{margin-left:10px; 
margin-top:-160px;}

.das{
	background: url(ellipse-1-copy.png);
}
 .header{color:white
 height:100vh;	
 width:100%;
position:absolute;
 background-position: center center;
 background-size:cover; 
}


.header-list{ text-decoration: none; }
.header-nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;	
}
.anchor_div{  display: block;}

.das21{text-decoration: none;}
img{margin-left: 0px;
margin-top:150px;}

ul{font-family: "Open Sans";
list-style-type: none;
width: 527px;
height: 17px;
color: #ffffff;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 12px;;
}
.add_comment {
  position:fixed;
  left:0;
  top:200px;
  z-index: 99999;
}


p.daws{
	margin-left: 267px;
color: #333b46;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
line-height: 12px;
display: flex;
}

.dads img{
margin: 0; 
 }

.niz{
margin-left: 267px;
margin-top: -251px;
	width: 466px;
height: 139px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 25px;}


li{margin-top: 27px;
display:inline-block;
margin-right: 10px;
}

.header-nav__logo{
	font-family: "Open Sans";
	color: #ffffff;
	font-size: 36px;
	font-weight: 400;
	display: flex;
margin-top: 27px;
margin-left: 98px;
}
a{color: white;}

.div-logo2{ 
color: #ffffff;
font-family: "Source Sans Pro";
font-size: 35px;
font-weight: 300;
text-align: center;
}
.dasa{
margin-top: -2px;
margin-left: 667px;
}

.zad{margin-top:-100px;}


.div-logo1{ 
color: #ffffff;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 28px;
 }


p.DAN{width: 112px;
height: 19px;
color: #ffffff;
font-family: "Big John";
font-size: 25px;
font-weight: 400;
line-height: 12px; 
margin-top: 47px;
margin-right: 1156px;
display: inline-block; }


.knopka01 {
  display: inline-block;
  width: 130px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
  outline: none;
  border: none;
  border-radius: 100px;
  background: #333b46 radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
  box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  color: rgb(0,79,86);
  user-select: none;
  margin-top: -50px;
  margin-left: 267px;
} 
.knopka01:hover {
  color: #333b46;
  cursor: pointer;
}
.knopka01:active {
  padding-bottom: 1px;
  box-shadow:
   inset rgba(0,0,0,1) 0 1px 3px,
   inset rgba(0,0,0,.6) 0 -2px 5px,
   inset rgba(252,255,255,.7) 0 2px 5px,
   0 1px rgba(255,255,255,.08);
  color: rgb(128,207,214);
}
.zadolbalo1{margin-top: -350px;

color: #333b46;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
line-height: 12px;
text-transform: uppercase;
} 
.niz1{margin-top: 50px;
height: 39px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 25px;
	
	}

.zadolbalo2{ margin-left: 983px;
	margin-top: -398px;
	width: 167px;
height: 15px;
color: #464646;
font-family: "Open Sans";
font-size: 20px;
font-weight: 400;
line-height: 125px; 
}
.dan3{ margin-top: -120px;
margin-left: 1176px; }
.zadolbalo3{margin-top: -0px;
	margin-left: 169px;
background-repeat: no-repeat;
 }
 .zadolbalo4{
 	margin-top: 20px;
 	margin-left: 976px;
 	width: 224px;
height: 12px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 14px;
font-weight: 300;
font-style: italic;
line-height: 25px;
text-transform: uppercase;  }

.zadolbalo5{ margin-top: 20px;
margin-left: 790px;
	width: 365px;
height: 39px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 25px;; }

.zadolbalo6{
margin-top: 0px;
margin-left:830px;
width: 79px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
line-height: 25px;
text-transform: uppercase; }

.qzadolbalo6{ margin-left: 1130px;
	margin-top: -20px;
	width: 36px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
line-height: 25px;
text-transform: uppercase; }

.qqzadolbalo6{ margin-top: -158px;
margin-left: 830px; }

.BRANDING1{ margin-top: -140px;
margin-left: 830px; }

.zadolbalo7{ margin-top: 40px;
margin-left:830px;
width: 96px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
line-height: 25px;
text-transform: uppercase; }

.qzadolbalo7{ margin-left: 1130px;
	margin-top: -20px;
	width: 36px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
line-height: 25px;
text-transform: uppercase;
}

.nizweb{ 
margin-top:-135px   ;
margin-left: 830px  ; }
.werhweb{
	margin-left: 830px ;
	margin-top: -158px ;
}
.interface{width: 131px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
line-height: 25px;
text-transform: uppercase;
 margin-top: 30px;
margin-left: 830px; }

.sf{ width: 36px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
line-height: 25px;
text-transform: uppercase;
margin-left:1130px; 
margin-top:-25px;}

.ninterface{margin-left: 830px;
	margin-top: -140px;

}

.winterface{margin-left: 830px;
margin-top: -158px;}


 .btochka1{ margin-left:658px;
	 margin-top:-15.5px ;}

.tochka2{ margin-left: 678px;
	margin-top: -164px;
 }
 .tochka3{ margin-left: 698px;
 margin-top: -164px; }

#box4{ text-indent: 0px;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-webkit-transition: all 1s ease-in-out;
cursor: pointer;}

#box4:hover {
-webkit-transform: translate(0,40px);
-moz-transform: translate(0,20px)
;-o-transform: translate(0,60px);}

.dawe{
	    margin: auto;
    position: absolute;
    left: 49.5%;
    bottom: 2%;
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}
@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}



.davn{
margin: auto;
	width: 278px;
height: 14px;
color: #333b46;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
line-height: 12px;
text-transform: uppercase;}

.davn0{
margin:auto;
 width: 457px;
height: 39px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 25px;
 }


.davn1{ margin-top: 30px;
margin-bottom: 100px;
height: 15px;
color: #464646;
font-family: "Open Sans";
font-size: 20px;
font-weight: 700; }


.davn2{margin-top: -30px;	width: 321px;
height: 101px;
font-family: "Open Sans";
font-size: 16px;
line-height: 28px;
/* Text style for "At , eos e" */
color: #81868e;
font-weight: 400;
/* Text style for "vero" */
color: #19bd9a;
font-weight: 700;
/* Text style for "ducimus" */
color: #636971;
font-weight: 700;}

.davn3{ 
margin-top:10%; 
	width: 50%;
float:left;
font-family: "Open Sans";
font-size: 14px;
line-height: 25px;
/* Text style for "At vero eo" */
color: #81868e;
font-weight: 400;
/* Text style for "corrupti q" */
color: #636971;
font-weight: 700;
/* Text style for "excepturi" */
color: #19bd9a;
font-weight: 700; }

.max{margin-left: 169px;
	width: 167px;
height: 15px;
color: #464646;
font-family: "Open Sans";
font-size: 20px;
font-weight: 400;
line-height: 125px;}

.max1{margin-top: 40px;
	margin-left:169px; 
 width: 224px;
height: 12px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 14px;
font-weight: 300;
font-style: italic;
line-height: 25px;
text-transform: uppercase; }

.max12{margin-top: -120px;
margin-left: 10px;  }

.max5{ margin-left:169px;
margin-top:10px; 
width: 365px;
height: 39px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 25px;}

.max2{margin-left:169px;
	margin-top:40px ;

 width: 79px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
line-height: 25px;
text-transform: uppercase; }
.max3{ margin-top:-140px; 
margin-left:169px; }

.max4{ margin-top: -490px;
margin-left:930px; }

.q100{ width: 36px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
line-height: 25px;
text-transform: uppercase;
margin-top:-10px;
margin-left: 460px; }

.max6{margin-left:169px;
	margin-top:40px;

height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
line-height: 25px; }


.max7{ margin-top:-25px; 
margin-left:470px;
 width: 36px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
line-height: 25px;
text-transform: uppercase;

}

.max8{margin-top:-140px;
margin-left:169px;}

.max9{
width: 131px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
line-height: 25px;
text-transform: uppercase;
 margin-top:40px; 
margin-left:169px ; }

.fas1{margin-left:-10px;
 width:1350px;
height: 100px;}

.max10{width: 36px;
height: 11px;
color: #81868e;
font-family: "Source Sans Pro";
font-size: 16px;
font-weight: 300;
line-height: 25px;
text-transform: uppercase;
margin-top: -20px;
 margin-left:470px; }

 .max11{ margin-top:-140px; 
 margin-left:169px; }

.instagram{margin-left:558px;
   }
 .facebook{ margin-left: 604px;
 margin-top: -180px; }
 .twitter{ margin-left: 650px;
 margin-top: -180px; }
.vk{ margin-top: -180px;
margin-left: 696px; }


 
 .contactus{ margin-top: 90px; 
color: #333b46;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
line-height: 12px;
text-transform: uppercase;}

.atvero{ 
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 25px; }

 .Contacts_Email{ 
 	margin-left: 213px;
 }


 .Contacts_OUR-Office{
 	width: 287px;
 	height: 272px;
 	margin-top: -295px;
 	margin-left: 540px;}


 .Contacts_Phone{ 
 	margin-top: -272px;
 	margin-left: 866px;
 
 }


.smalldan{ margin-top: 100px;
color: #323a45;
color: #323a45;
font-family: "Anton";
font-size: 25px;
font-weight: 400;
line-height: 12px;
color: #323a45; }

.seti{margin-top: -130px;
margin-bottom: 60px; }

.seti1{ 
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 25px; }
 

.swing{
width:200px;
height:200px;
animation-name:qw;
animation-duration:1s;
}

@keyframes qw {
15% {

transform: translatex(18px);
}
30% {
transform: translatex(-18px);

}
40% {
transform: translatex(12px);

}
50% {
transform: translatez(-12px);

}
65% {
transform: translatex(6px);

}
100% {
transform: translatex(0);

}
}
@keyframes swing {
15% {
transform: translatey(18px);

}
30% {
transform: translatey(-18px);

}
40% {
transform: translatey(12px);

}
50% {
transform: translatey(-12px);

}
65% {
transform: translatey(6px);

}
100% {
transform: translatey(0);

}
}

.zadolbalo2:hover {
animation:swing 0.9s ease;

animation-iteration-count: 1000000;

}
.ourservices{ margin-top: 81px;
color: #333b46;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
line-height: 12px;
text-transform: uppercase;
letter-spacing: 4px; }
.ourservices1{ 
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 25px;
/* Text style for "At vero eo" */
letter-spacing: 0.7px; }


.серыйкруг{ margin-left: 169px; 
margin-top: -60px;}

.design{margin-top: -110px;
	margin-left: 269px;
color: #464646;
font-family: "Open Sans";
font-size: 20px;
font-weight: 400;
line-height: 125px;
/* Text style for "Graphic De" */
letter-spacing: 0.8px;}
.отступ{ margin-top: 220px; }

.procent80{margin-top: -140px;
	margin-left:389px;
}

.procent75{ margin-top:-280px; 
margin-left: 746px;
}
.procent60{ margin-top:-280px;
margin-left: 1175px; }
.perebivka{ margin-left: -8px; 
}


.div-button{
	color: #310e0e;
 text-decoration: none;
 border: 4px solid silver;
 border-radius: 50px;
width: 100px;
height: 120px;
}
.layers img{ 
margin: 0;}
.detail{

}
.actions{
	width: 70%;
	margin: auto;
}

.lads{ margin-top:50px;}

.project{ margin-top: 340px;
height: 14px;
color: #333b46;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
line-height: 12px;
text-transform: uppercase;
letter-spacing: 4px;
 }
 .vicki2{ margin-top:-70px; }
 .znachek{ margin-left:169px; 
 margin-top: -290px; }

.tablica{margin-top:-230px; 
	width: 393px;
margin-left:266px;
color: #81868e;
font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 28px;
/* Text style for "At vero eo" */
letter-spacing: 0.8px;
/* Text style for "iusto" */
color: #19bd9a;
font-weight: 700;
letter-spacing: 0.8px;
/* Text style for "ducimus" */
color: #636971;
font-weight: 700;
letter-spacing: 0.8px; }

.tablica1{ margin-top:0px;
 width: 396px;
margin-left:266px;
color: #81868e;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 25px;
/* Text style for "quos dolor" */
letter-spacing: 0.7px;
/* Text style for "similique" */
color: #19bd9a;
font-weight: 700;
letter-spacing: 0.7px; }

.branding{margin-left:824px;  width: 67px;
height: 16px;
color: #81868e;
font-family: Roboto;
font-size: 16px;
font-weight: 300;
line-height: 25px;
/* Text style for "Branding" */
letter-spacing: 0.8px; }

.webdesign{ margin-left: 984px;
	margin-top: -30px;
height: 16px;
color: #81868e;
font-family: Roboto;
font-size: 16px;
font-weight: 300;
line-height: 25px;
/* Text style for "Branding" */
letter-spacing: 0.8px; }

.UI{
	margin-top:-30px ;
	margin-left: 1214px;
height: 16px;
color: #81868e;
font-family: Roboto;
font-size: 16px;
font-weight: 300;
line-height: 25px;
/* Text style for "Branding" */
letter-spacing: 0.8px;}
.perebivka1{margin-top:-600px;}

.impressed{margin-top:-300px;
	margin-left: 169px;
height: 14px;
color: #f3f3f3;
font-family: "Source Sans Pro";
font-size: 20px;
font-weight: 300;
line-height: 12px;
text-transform: uppercase;

letter-spacing: 4px; }
.perebivka3{  }
,